.formContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.formButton {
    display: flex;
    gap: 5px;
}

.toggleButton {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: lightgray;
    cursor: pointer;
    color: white;
}

.toggleButton:hover {
    opacity: 0.5;
    background-color: #007bff;
}

.toggleButton.active {
    background-color: #007bff;
    color: white;
}

.dateContainer,
.timeContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputField {
    padding: 8px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.inputField:focus {
    outline: none;
    border-color: #007bff;
}

.inputContainer {
    display: flex;
    gap: 10px;
    width: 100%;

    input {
        width: 85%;
    }

    button {
        width: 15%;
    }
}

.submitButton {
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.submitButton:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) {
    .dateContainer,
    .timeContainer,
    .inputContainer {
        flex-direction: column;
        align-items: normal;
    }
    
    .inputContainer button {
        width: 30%;
    }
}