.dateGroup {
    overflow-x: auto;
}

.dateHeader {
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 2px 4px;
    margin-bottom: 5px;
    background-color: bisque;
}

.listContainer {
    margin-bottom: 10px;
    border-bottom: 0.1px solid lightgray;
}

.listTitle {
    font-weight: bold;
    color: #007bff;
}

.listDate {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.deleteButton {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
}

.deleteButton:hover {
    background-color: #0056b3;
}

@media (max-width: 767px) {
    .dateHeader {
        font-size: 16px;
    }

    .listContainer {
        font-size: 14px;
    }

    .listDate {
        display: block;
    }

    .deleteButton {
        font-size: 12px;
    }
}