.container {
    display: flex;
    gap: 20px;
    background-color: floralwhite;
    padding: 20px;
}

.calendar-container {
    background-color: white;
    max-width: 600px;
}

.taskForm-container {
    background-color: white;
    padding: 20px;
    width: 400px;
}

.fc-day-sun .fc-daygrid-day-number {
    color: red;
}

.fc-day-sat .fc-daygrid-day-number {
    color: blue;
}

.fc .fc-toolbar-title {
    font-weight: normal;
}

.fc .fc-toolbar.fc-header-toolbar {
    margin: 0;
    padding: 0 20px;
    background-color: floralwhite;
    height: 60px;
    font-size: 12px;
}

.fc .fc-toolbar-chunk .fc-button {
    background-color: floralwhite;
    border: none;
    padding: 0;
    font-size: 16px;

    span {
        color: coral;
    }
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: red;
}

.fc .fc-button-primary:not(:enabled) {
    background-color: blue;
}

.fc .fc-dayGridMonth-button,
.fc .fc-dayGridMonth-button {
    background-color: red;
}

.fc-scroller {
    margin-bottom: 20px;
}

.fc-theme-standard .fc-scrollgrid {
    border: none;
    padding: 10px 20px;
}

.fc-theme-standard td,
.fc-theme-standard th {
    border: none;
}

.fc-theme-standard th {
    height: 40px;
    vertical-align: middle;
}

.fc-scrollgrid-section-body {
    font-size: 14px
}

.fc-daygrid-event-harness {
    padding: 0 10px;
}

.fc-event {
    margin-bottom: 5px;
}

.fc-daygrid-day:hover {
    background-color: var(--fc-today-bg-color);
}